
{% block stylesheet %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
{% endblock stylesheet %}

{% block body %}
    <div   class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <b> COURIERS</b>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>


                    {{ form_start(resetForm) }}
                    <div class="input-group mb-3">
                        {{ form_row(resetForm.plainPassword ,{ 'attr': {'class': "form-control" }}) }}
{#                        <div class="input-group-append">#}
{#                            <div class="input-group-text">#}
{#                                <span class="fas fa-lock"></span>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    {#                 <div class="input-group mb-3">#}
                    {#                     {{ form_widget(resetForm.plainPassword) }}#}
                    {#                     <div class="input-group-append">#}
                    {#                         <div class="input-group-text">#}
                    {#                             <span class="fas fa-lock"></span>#}
                    {#                         </div>#}
                    {#                     </div>#}
                    {#                 </div>#}

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    {{ form_end(resetForm) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

{% endblock %}