
{% block stylesheet %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
{% endblock stylesheet %}

{% block body %}
    <div class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <b>COURIERS</b>
            </div>
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

                    {{ form_start(requestForm) }}

                    <div class="input-group mb-3">
                        {{ form_widget(requestForm.email, { 'attr': {'class': "form-control" , 'placeholder': "Email"}}) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                        <!-- /.col -->
                    </div>

                    {{ form_end(requestForm) }}
      <p class="mt-3 mb-1">
        <a href="{{ path('app_login') }}">Login</a>
      </p>
      </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

{% endblock %}