{% extends 'base.html.twig' %}


{% block body %}

    <div class="card">
        <div class="card-body">
            <div class="d-sm-flex justify-content-between align-items-start">
                <div>
                    <h4 class="card-title card-title-dash">Add Deliverer</h4>
                </div>
                <div>
                    <a class="btn btn-primary btn-lg text-white mb-0 me-0" type="button" href="{{ path("deliverers_list") }}"><i class="mdi mdi-view-list"></i>Lis of Users</a>
                </div>
            </div>
            {{ form_start(form, {'class': 'form-sample', 'action': path('add_agent'), 'method': 'POST'}) }}
            <p class="card-description">
                Personal info
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">CIN</label>
                        <div class="col-sm-9">

                            {{ form_widget(form.cin, { 'attr': {'class': "form-control", 'placeholder': "CIN"} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.email, { 'attr': {'class': "form-control", 'placeholder': "Email"} }) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">

                            {{ form_widget(form.firstName, { 'attr': {'class': "form-control", 'placeholder': "First Name"} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.lastName, { 'attr': {'class': "form-control", 'placeholder': "Last Name"} }) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"> Governorate </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.region, { 'attr': { 'class': "form-control", 'placeholder': "Choose your gvr"} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Role</label>
                        <div class="col-sm-4">
                            <div class="form-check">
                                {{ form_widget(form.userRole, { 'attr': { 'class': "form-control"} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.password.first, { 'attr': {'class': "form-control", 'placeholder': "Password"} }) }}
                            <br>
                            <br>
                            {{ form_widget(form.password.second, { 'attr': {'class': "form-control", 'placeholder': "Confirm Password"} }) }}


                        </div>
                    </div>
                </div>

            </div>


            <p class="card-description">
                Optional Info
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Phone Number</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.phoneNumber, { 'attr': {'class': "form-control", 'placeholder': "Phone Number"} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Address </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.adress, { 'attr': {'class': "form-control", 'placeholder': "Address"} }) }}

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Postcode</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.postCode, { 'attr': {'class': "form-control", 'placeholder': "Post Code"} }) }}

                        </div>
                    </div>
                </div>
            </div>
            <div class="d-sm-flex justify-content-between align-items-start">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg text-white mb-0 me-0 '}}) }}
                {{ form_widget(form.reset, {'attr': {'class': 'btn btn-light btn-lg  mb-0 me-0'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}