{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/material-design-iconic-font.min.css') }} >
  <link rel="stylesheet" href="{{ asset('css/addpagestyle.css') }} >
{% endblock %}

{% block body %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">

            <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                        <h4 class="card-title card-title-dash">Add Agent</h4>
                    </div>
                    <div>
                        <a class="btn btn-primary btn-lg text-white mb-0 me-0" type="button" href="{{ path("agents_list") }}"><i class="mdi mdi-view-list"></i>Lis of Agents </a>
                    </div>
                </div>

                {{ form_start(form, {'action': path('add_agent'), 'method': 'POST'}) }}

                <div class="form-group-1">
                    <div class="col">

                        {{ form_widget(form.cin, { 'attr': {'class': "span12", 'placeholder': "cin"} }) }}
                    </div>
                    <div class="col">

                        {{ form_widget(form.email, { 'attr': {'class': "span12", 'placeholder': "Email"} }) }}
                    </div>

                    {{ form_widget(form.firstName, { 'attr': {'class': "span12", 'placeholder': "First Name"} }) }}
                    <div class="col">

                        {{ form_widget(form.lastName, { 'attr': {'class': "span12", 'placeholder': "Last Name"} }) }}
                    </div>
                    {{ form_widget(form.phoneNumber, { 'attr': {'class': "span12", 'placeholder': "Phone Number"} }) }}


                </div>
                <div class="form-group-2">
                    <h3>Region ?</h3>
                    <div class="select-list">
                        <select name="region" id="region">
                            <option seleected value="region1">Tunis</option>
                            <option value="region2">Gabes</option>
                        </select>
                    </div>
                    {#                        <div class="select-list">#}
                    {#                            <select name="hour_appointment" id="hour_appointment">#}
                    {#                                <option seleected value="">Hours : 8am 10pm</option>#}
                    {#                                <option value="9h-11h">Hours : 9am 11pm</option>#}
                    {#                            </select>#}
                    {#                        </div>#}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-icon-text'}}) }}
                {{ form_end(form) }}








            </div>
        </div>
    </div>
{% endblock %}