{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title">Add Post</h4>
                    <a href="{{ path("list_posts") }}" type="button" class="btn btn-default text-black-50 float-right">List of Posts</a>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                {{ form_start(form, { 'action': path('add_post'), 'method': 'POST'}) }}
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label >Post Name</label>
                                {{ form_widget(form.namePost, { 'attr': {'class': "form-control" , 'placeholder': "Post Name"} }) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label >Governorate</label>
                            {{ form_widget(form.regionPost, { 'attr': {'class': "custom-select form-control-border",  'placeholder': "Select Governorate"} }) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label >City</label>
                                {{ form_widget(form.city, { 'attr': {'class': "form-control" , 'placeholder': "City"} }) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1">Street</label>
                            {{ form_widget(form.street, { 'attr': {'class': "form-control",  'placeholder': "Street"} }) }}
                        </div>
                    </div>

                    <div class="card-footer">

                        {{ form_widget(form.save, {'attr': {'type': 'submit','class': 'btn btn-primary'}}) }}
                        {{ form_widget(form.reset, {'attr': {'class': 'btn btn-default float-right'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
        </div>
    </div>
    </div>
    <!-- /.card -->
{% endblock %}