{% extends 'base.html.twig' %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add User</h4>
            <form class="form-sample" method="post">
                <p class="card-description">
                    Personal info
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">CIN</label>
                            <div class="col-sm-9">

                                {{ form_widget(form.cin, { 'attr': {'class': "form-control", 'placeholder': "CIN"} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.email, { 'attr': {'class': "form-control", 'placeholder': "Email"} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">

                                {{ form_widget(form.firstName, { 'attr': {'class': "form-control", 'placeholder': "First Name"} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.lastName, { 'attr': {'class': "form-control", 'placeholder': "Last Name"} }) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
{#                    <select class="form-control" id="supervisor">#}
{#                        {% for oneSupervisor in supervisor %}#}
{#                            {% set selected = '' %}#}
{#                            {% if (oneSupervisor.fname ~ ' ' ~ oneSupervisor.lname) == user.supervisor %}#}
{#                                {% set selected = 'selected' %}#}
{#                            {% endif %}#}
{#                            <option value="{{oneSupervisor.fname}} {{oneSupervisor.lname}}" {{ selected }}>{{oneSupervisor.fname}} {{oneSupervisor.lname}}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Region</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>ROLE_USER</option>
                                    <option>ROLE_AGENT</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Role</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="ROLE_ADMIN" checked="">
                                        Agent
                                        <i class="input-helper"></i></label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="ROLE_USER">
                                        Deliverer
                                        <i class="input-helper"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-description">
                    Optional Info
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone Number</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.phoneNumber, { 'attr': {'class': "form-control", 'placeholder': "Phone Number"} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address 2</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Postcode</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>America</option>
                                    <option>Italy</option>
                                    <option>Russia</option>
                                    <option>Britain</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}