{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/userinfo.css') }} >
{% endblock %}
{% block body %}
    <div class="container bootstrap snippets bootdey">
    <div class="card">
        <div class="card-body">
          <div class="inf-content">
            <div class="row">
                <div class="col-md-4">
                    <img alt="" style="width:200px;" title=""  src="https://assets.nationbuilder.com/themes/5f3bc4644764e86d9ee8849f/attachments/original/1589382138/login.png?1589382138" >
                    <ul title="Ratings" class="list-inline ratings text-center">
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                      <div class="d-sm-flex justify-content-between align-items-start">
                             <div>
                                     <h4 class="card-title card-title-dash">User Information</h4>
                             </div>

                             <div>
                                      <a class="btn btn-primary btn-lg text-white mb-0 me-0" type="button" href="{{ path("users_list") }}"><i class="mdi mdi-view-list"></i>Listof Users</a>
                             </div>

                      </div>
                      <br>
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>

                            <tr>
                                <td>
                                    <strong>
                                        CIN
                                    </strong>
                                </td>
                                <td >
                                       {{ user.cin }}
                                </td>
                                <td>
                                    <strong>
                                        Email
                                    </strong>
                                </td>
                                <td >
                                      {{ user.Email }}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>

                                        First Name
                                    </strong>
                                </td>
                                <td >
                                   {{ user.firstName }}
                                </td>

                                <td>
                                    <strong>
                                        Lastname
                                    </strong>
                                </td>
                                <td >
                                      {{ user.lastName }}
                                </td>
                            </tr>




                            <tr>

                                <td>
                                    <strong>
                                        Role
                                    </strong>
                                </td>
                                <td >
                                       * show role *
                                </td>
                                <td>
                                    <strong>

                                        Phone Number
                                    </strong>
                                </td>
                                <td >
                                     {{ user.phoneNumber }}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        created
                                    </strong>
                                </td>
                                <td >
                                   {{ "now"|date("m/d/Y") }}
                                </td>
                                <td>
                                    <strong>

                                        Modified
                                    </strong>
                                </td>
                                <td >
                                   {{ "now"|date("m/d/Y") }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
 <div>
                                      <a class="btn btn-primary btn-lg text-white mb-0 me-0" type="button" href="{{ path("update_user", {'id' : user.id}) }}"><i class="mdi mdi-pencil-box"></i>Edit </a>
                             </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
     </div>
   </div>
{% endblock %}